matplotlib==3.2.0
pyecharts==1.7.1
selenium==3.141.0
XlsxWriter==1.2.9
openpyxl==3.0.4
nltk==3.6.6
pyquery==1.4.0
lxml==4.9.1
requests==2.22.0
numpy==1.22.0
tqdm==4.47.0
wxPython==4.0.7
pandas==1.0.1
wxpy==0.3.9.8
beautifulsoup4==4.9.1
Pillow==9.3.0
python_dateutil==2.8.1